# -*- mode: gitignore; coding: utf-8; -*-

# Emacs temporary files
*~
\#*#

# log files
*.log

# log file directory
logs/

# NPM packages directry
node_modules/

# TypeScript transpile target directory
out/